<div>
	<label>Enter in a new todo: </label> {{input type="text" id="new-todo" placeholder="Enter a new todo" value=newTodo insert-newline=keyPress}}
</div>

<ul class="todoListStyle">
	{{#each todos as |singleTodo key|}}
		<li>
			{{!-- {{#if todoKeyIsValid key}}
				{{single-todo todoModel=singleTodo todoListModel=todos previousTodo=singleTodo}}  
			{{else}}
				{{single-todo todoModel=singleTodo todoListModel=todos previousTodo=null}} 
			{{/if}} --}}
			{{#if (isTodoIndexValid key)}}
				{{single-todo todoModel=singleTodo todoListModel=todos previousTodo=(returnPrevTodoItem key todos) parentTodoList=null}}  
			{{else}}
				{{single-todo todoModel=singleTodo todoListModel=todos previousTodo=null parentTodoList=null}} 
			{{/if}}
			
		</li>
		{{!-- Set variable for previous todo, and send it in --}}
	{{/each}}
</ul>