<div class="displayTodo">
	<div class="displayTodoMainSection">

		{{!-- If this todo is being edited, 
				render it as an input tag --}}
		<div class="displayTodoText">
			{{#if todoModel.children}}
				<a class="styleMinimizeButton" {{action "minimizeTodo"}}>
					<span>{{minimizeTodoValue}}</span>
				</a>
			{{/if}}
			
			{{!-- Show the TodoCompleted symbol --}}
			{{input class="todoCompletedCheckbox" type="checkbox" checked=isTodoCompleted}}
			{{!-- <button {{action 'toggleTodoCompleted'}}>
				&#10003;
			</button> --}}

			{{#if isTodoBeingEdited}}
				{{#edit-todo-view class="todoEditAutofocus"}}

					<input type="text" name="todoText" class="todoTextEditing" value={{todoModel.text}} onblur={{action 'todoDoneEditing' value="target.value"}} onkeypress={{action 'addNewSiblingTodo'}} Style="text-decoration:{{todoStyle}}"/>

				{{/edit-todo-view}}				
			{{else}}
				<label class="displayTodoLabel" {{action 'isTodoInEditMode' true}} Style="text-decoration:{{todoStyle}}">
					{{todoModel.text}}
				</label>
			{{/if}}

			<button {{action "deleteTodo" todoListModel todoModel}}>X</button>
		</div>
		{{!-- <label {{action 'toggleTodoCompleted'}} Style="text-decoration:{{todoStyle}}">
			{{todoModel.text}}
		</label> --}}

		<div class="createChildTodo">
			{{input type="text" placeholder="Enter a new child todo" value=newChildTodo action="addNewChildTodo"}}
		</div>

	</div>
		
	{{#if todoModel.children}}

		<div style="display: {{todoItemMinimized}};" class="displayChildTodo {{todoModel.children}}">	

			<ul class="todoListStyle">
				{{#each todoModel.children as |todoChild|}}
					{{!-- <li>{{todoChild.text}}</li> --}}
					<li>{{single-todo todoModel=todoChild todoListModel=todoModel.children}}</li>
				{{/each}}
			</ul>		

		</div>
	{{/if}}

</div>